// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #004E89;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$my-blue: #004E89;
$my-white: #f3d9b1;
$my-grey: #c29979;
