.paragraphe {

 color: black;



 box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
 width: 401px;
 height: 342px;
 background-color: white;
}
.other {

 color: black;

 box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
 width: 401px;
 height: 342px;
 background-color: white;

}

.paragraphe p {
  margin-top: 15px;
  text-align: center;
}

.btn-warning {
  text-align: center;
  margin-left: 120px;
  color: white;
  background-color: #004E89;
  border: none;
}

.btn-danger {
  color: white;
  background-color: #004E89;
  border: none;
}
.contain {
  min-height: calc(90vh - 70px) !important;
}

.btn-warning:hover {
  color:#004E89;
  background-color: white;
}

.btn-danger:hover {
  color:#004E89;
  background-color: white;
}


.grille {
  display:grid;
  grid-template-columns: 1fr 300px 300px 1fr;
  grid-template-rows: 20% 40% 30% 10%;
}

.grille-1 {
  grid-row: 1/span 1;
  grid-column: 2/span 1;
  margin-left: -127px;
  margin-top: 30px;
}


.grille-2 {
  grid-row: 1/span1;
  grid-column: 3/span1;
  margin-top: 30px;
  margin-left: 30px;
}

.grille-3 {
  grid-row: 2/span 1;
  grid-column: 2/span1;
}

