.texte {
  margin-left: 340px;
}

.carte {

  margin-left: 680px;
  margin-top: -493px;
}

.another-text {
  background-color: #EAEAEA;
  margin-bottom: 20px;
}

.another-text h5 {
  text-align: center;


}


.another-text {
  margin-top: 29px;
  margin-left: -1px;
  margin-right: 156px;
}

.little-map {
  margin-top: -123px;
}

