<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Editing Bookings</h1>
      <%= render 'form' %>
      <%= link_to 'Show', booking_path(@booking) %> |
      <%= link_to 'Back', dashboard_renter_path %>
    </div>
  </div>
</div>
