<div class="container text-center
under-footer">
  <h1>My Bookings</h1>
  <div class="row">
    <% @bookings.each do |booking| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path booking.boat.photo, height: 300, width: 400, crop: :fill %>')">
        <div class="card-category">Category</div>
        <div class="card-description">
          <h2><%= booking.user.email %></h2>
          <h2><%= booking.boat.name %></h2>
        </div>
        <% if policy(booking).show? %>
          <%= link_to "", booking_path(booking), class:'card-link'%>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
