.contenu {
  min-height: calc(100vh - 70px) !important;
}

.under-footer {
  margin-top: 162px;
}

.infos {
  margin-left: -100px;
}

.boat {
  height: 350px;
  background-size: cover;
  border-color: black;
}
