.contenu {
  min-height: calc(100vh - 70px) !important;
}

.under-footer {
  margin-top: 162px;
}

.infos {
  margin-left: -50px;
  margin-top: 30px;
}

#map {
  height: 350px;
  background-size: cover;
  border-color: black;
}
