<div class="container-banner">
  <h1>WATBOAT</h1>
  <p>Rent your boat</p>
  <form action="" class="form-inline">
    <div class="form-group" >
    <%= select_tag "timezone", options_from_collection_for_select(
    ActiveSupport::TimeZone.all.
    map { |tz| tz.tzinfo }.
    sort_by { |tzinfo| tzinfo.name },
    :name, :name),
    class: 'select2'%>
    </div>
    <div class="form-group" class="form-inline">
    <input type="text" class="form-control" placeholder="When?">
    </div>
    <input type="submit" value="Search" class="btn btn-primary">
   </form>
</div>
