<div class="container-banner">
  <h1>SAILY</h1>
  <p><span id="banner-typed-text"></span></p>
  <form action="" class="form-inline">
    <div class="form-group" class="form-inline">
    <input type="text" class="form-control" id="boat_address" placeholder="Where?">
    <input type="text" class="form-control datepicker" placeholder="Start date?">
    <input type="text" class="form-control datepicker" placeholder="End date?">
    </div>
    <input type="submit" value="Search" class="btn btn-primary">
   </form>
</div>
