<div class="container-banner">
  <h1>WATBOAT</h1>
  <p>Rent your boat</p>
  <form action="" class="form-inline">
      <div class="form-group" class="form-inline">
        <input type="text" id= "boat_address" class="form-control" placeholder="Where?">
        <input type="text" class="form-control" placeholder="When?">
      </div>
      <input type="submit" value="Search" class="btn btn-primary">
    </form>
  </div>
