.banner-show{
  color: white;
  text-align: center;
  height: 70vh !important;
  width: 100%;
  background-size: cover !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
