

.banner {
  background-image: asset-url('banner.jpg'); filter: grayscale(70%);
  background-size: cover !important;
  height: 100vh;
  color:#black;
  text-align: center;
  padding-top: 40vh;
  }

.banner h1 {
  font-family : Arial, sans-serif, monospace;
  font-weight: bold;
  letter-spacing: 10px;
  font-size: 48px;
}

.banner p {
  font-family : courier, sans-serif, monospace;
  font-weight: bold;
  letter-spacing: 10px;
  font-size: 24px;
}
