.container-banner {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), asset-url('banner2.jpg');
  background-size: cover !important;
  height: 100vh;
  color: black;
  text-align: center;
  padding-top: 15vh;
  }

.container-banner h1 {
  font-family : $title-font2;
  color : white;
  font-weight: bold;
  letter-spacing: 20px;
  font-size: 64px;
}

.container-banner p {
  font-family : $headers-font;
  color : white;
  letter-spacing: 10px;
  font-size: 40px;
}

