.container-banner {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), asset-url('banner2.jpg');
  background-size: cover !important;
  height: 100vh;
  color: black;
  text-align: center;
  padding-top: 15vh;
  }



.banner h1 {
  font-family : $title-font;
  font-weight: bold;
  letter-spacing: 10px;
  font-size: 64px;
}

.banner p {
  font-family : courier, sans-serif, monospace;
  font-weight: bold;
  letter-spacing: 10px;
  font-size: 40px;
}

// .form-control {
//   height: 28px;
//   border-radius: 5px;
//   background: white

.btn .btn-primary {
  height: 40px;
  border-radius: 5px
}
