.btn {
 color: white;
 background-color: #469AE0;
}

.premier {
  margin-left: 380px;
  margin-top: 30px;

}

.deuxieme {
  margin-left: 5px;
  margin-top: 30px;
}

.troisieme {
  margin-left: 5px;
  margin-top: 30px;
}
