
.footer {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 70px;
  padding: 0px 50px;
  color: $blue;

}

.footer-links {
  display: flex;
  // align-items: left;
  color: $my-blue;
}
.footer-links a {
  color: $my-blue;
  opacity: 0.8;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;

}
.footer-links a:hover {
  opacity: 1;
}
// .footer .fa-heart {
//   color: white;
// }
.fab {
  color: $my-blue;

}
