.infoss {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1),0 1px 0 0 rgba(0,0,0,0.03);

  margin-top: 117px;
 margin-bottom: 16px;;
}


.tabs {
  background: #004E89;
  display: flex;
  padding: 10px 10px 0 10px
}
.tabs a {
  color: white;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  background: #756A66;
  flex: 0 0 50%;
  text-align: center;
  padding: 20px 0;
  background-color: #588FB8;
}
.tab:first-child {
  border-radius: 10px 0 0 0;
}
.tab:last-child {
  border-radius: 0 10px 0 0;
  background-color: #588FB8;
}
.tab.active {
  background: white;
  color: black;
}

