<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Editing Boat</h1>
      <%= render 'form' %>
      <%= link_to 'Show', boat_path(@boat) %> |
      <%= link_to 'Back', boats_path %>
    </div>
  </div>
</div>
